<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<link href="/styles/reset.css" rel="stylesheet" type="text/css" />
<link href="/styles/documentation.css" rel="stylesheet" type="text/css" />
<link href="/styles/style.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="/scripts/jquery.js"></script>
<script type="text/javascript" src="/scripts/jquery.form.js"></script>
<script type="text/javascript" src="/scripts/jquery.scroll-to.js"></script>
<script type="text/javascript">
var exports = window;
</script>
<script type="text/javascript" src="/scripts/3taps-client.js"></script>
<script type="text/javascript" src="/scripts/3taps.js"></script>
<script type="text/javascript" src="/scripts/documentation.js"></script>

<% if (controllerStyle) { %>
	<link rel="stylesheet" type="text/css" href="/styles/helpers/<%= controller %>.css" />
<% } %>

<% if (controllerScript) { %>
	<script type="text/javascript" src="/scripts/helpers/<%= controller %>.js"></script>
<% } %>
<title>3taps Developers</title>
</head>
<body>
<div id="header">
	<div id="header-intro">
		what app are you building next?
	</div>
	<div id="logo">
		<h1><a href="/"><span class="first">3</span>taps</span></a></h1>
	</div>
</div>
<div id="container">
	<div id="main">
		<div id="title">
			<% if (typeof category.name != 'undefined') { %>
				<h1>3taps Developers - <%= category.name %></h1>
			<% } else { %>
				<h1>3taps Developers</h1>
			<% } %>
		</div>
		<div id="nav">
			<ol>
				<li>
					<a href="/">Intro</a>
				</li>
				<% for (var i in documentation) { %>
					<% var thisCategory = documentation[i] %>
					<li>
						<a href="/methods/<%= thisCategory.name %>"><%= thisCategory.name %></a>
						<ol>
							<% for (var j in thisCategory.methods) { %>
								<% var method = thisCategory.methods[j] %>
								<li><a href="/methods/<%= thisCategory.name %>#methods.<%= thisCategory.name %>.<%= method.name %>"><%= method.name %></a></li>
							<% } %>
						</ol>
					</li>
				<% } %>
			</ol>
		</div>
		<div id="body">
			<%- body %>
		</div>
	</div>
</div>
<div id="footer">
	&copy; <%= (new Date()).getFullYear() %> 3taps
</div>
</body>
</html>
