<h2 id="/methods/<%= category %>">3taps API - <%= category.name %></h2>
<div class="description"><%= category.description %></div>
<div class="methods">
	<ol>
		<% for (var name in methods) { %>
			<% method = methods[name] %>
			<li id="methods.<%= category.name %>.<%= method.name %>">
				<h3><%= method.name %></h3>
				<% if (method.restStructure) { %>
					<h4><%= method.restStructure %></h4>
				<% } %>
				<div class="description"><%= method.description %></div>
				<h4>Params</h4>
				<div class="params">
					<% if (method.params && method.params[0].name != '') { %>
						<table>
							<% for (var i in method.params) { %>
								<% var param = method.params[i] %>
								<% if (param.name == '') continue %>
								<tr>
									<td><strong><%= param.name %></strong></td>
									<td><%= param.type %></td>
									<td><%- param.desc %></td>
								</tr>
							<% } %>
						</table>
					<% } else { %>
						There are no params for this method.
					<% } %>
				</div>
				<h4>Returns</h4>
				<div class="returns">
					<% if (method.returns) { %>
						<table>
							<% for (var i in method.returns) { %>
								<% var returns = method.returns[i] %>
								<tr>
									<td><strong><%= returns.type %></strong></td>
									<td><%- returns.desc %></td>
								</tr>
							<% } %>
						</table>
					<% } else { %>
						There method has no return value.
					<% } %>
				</div>
				<% if (method.restUrlExample) { %>
					<h4>Example URL</h4>
					<div class="example"><a href="<%= method.restUrlExample %>" target="_blank"><%= method.restUrlExample %></a></div>
				<% } %>
				<% if (method.exampleResponse) { %>
					<h4>Example Response</h4>
					<div class="example"><pre><%= method.exampleResponse %></pre></div>
				<% } %>
				<% if (method.exampleCode) { %>
					<h4>Try It with Sample Code</h4>
					<div class="code"><pre><%= method.exampleCode %></pre></div>
					<a class="run" href="#methods.<%= category.name %>.<%= method.name %>">Click here to run the code.</a>
					<br /><br />
					<div class="example response">Run the code to see a real response.</div>
				<% } %>
				<a class="top" href="#">back to top</a>
			</li>
		<% } %>
	</ol>
</div>
